.btn {
    font-weight: 600;
    font-size: 14px;
    padding: 20px 40px;
    color: $light-gray;
    border-radius: 10px;
    display: inline-flex;
    line-height: 22px;
    align-items: center;

    img {
        margin-left: 8px;
    }

    &__danger {
        background: $light-red-gradient;
    }
}